.main, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    position: relative;
    width: 520px;
    height: 280px;
    margin: 100px auto;
    border: 3px solid black;
    overflow: hidden;
}

.main {
    position: absolute;
    left: -520px;
    width: 3640px;
    height: 280px;
    font-size: 0;
}

.list {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -40px;
    font-size: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 7px;
}
.list li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    margin: 3px;
    cursor: pointer;
}
.list .active {
    background: #ff6700;
}

.btn {
    position: absolute;
    display: none;
    top: 50%;
    margin-top: -20px;
    width: 25px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    text-align: center;
}
.container:hover .btn {
    display: block;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}