.row .carousel {
    margin-top: -50px;
}
.row .content {
    margin-top: 35px;
}
#pctabs ul {
    list-style:none;
    display:block;
    width: 20%;
    padding-left: 0;
    margin:0;
    float: left;
}

#pctabs ul li {
    list-style:none;
    height:50px;
    margin-top: -1px;
    line-height: 50px;
    text-align:center;
    /* font-size: 16px; */
    cursor:pointer;
    border:1px solid #0345682a;
}
#pclists .active {
    /* color: #f00; */
    color: #034568;
    font-weight: 600;
    border-right:5px solid #034568;
    transition: 0.3s;

}
#pctabs div {
    width: 80%;
    padding:0 25px;
    margin-top:-10px; 
    font-size: 14px;
    border-radius: 3px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: justify;
    font-size: 15px;
    float: left;
} 

.row .pctabs::before, .row .pctabs::after {
    counter-reset: "";
    display: table;
}
.row .pctabs::after {
    clear: both;
}
div .active{
    display:block !important;
}
@media(min-width:450px){
    #pctabs ul li {
        font-size: 14px;
    }
}