/* css for pc */
.bgcontainer {
    /* background-color: #fafafa; */
    /* -webkit-box-shadow: -1px 1px 5px #767676;
            box-shadow: -1px 1px 5px #767676; */
}
.rowpc .carousel {
    margin-top: -50px;
}
.rowpc .content {
    margin-top: 35px;
    margin-bottom: 35px;
}
@media(min-width:400px){
    .tabs ul {
        list-style:none;
        padding-left: 0;
        height:30px;
        border-top:1px solid #676767;
        border-bottom:1px solid #676767;
    }
}
@media(min-width:992px){
    .tabs ul {
        list-style:none;
        padding-left: 0;
        height:50px;
        border-top:1px solid #676767;
        border-bottom:1px solid #676767;
    }
}

@media(min-width:400px){
    .tabs ul li {
        float: left;
        list-style:none;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        padding: 0 10px 5px;
        text-align:center;
        font-size: 12px;
        cursor: pointer;
    }
}
@media(min-width:992px){
    .tabs ul li {
        float: left;
        list-style:none;
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        padding: 0 30px 10px;
        text-align:center;
        font-size: 16px;
        cursor: pointer;
    }
}

.lists .active {
    /* border-bottom:3px solid #034568; */
    background-color: #222;
    color: #fff;
    transition: 0.3s;
    
}
@media(min-width:400px){
    .tabs .hide {
        line-height: 24px;
        margin-top: 32px;
        text-align: justify;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 10px;
    } 
}
@media(min-width:992px){
    .tabs .hide {
        margin-top: 30px;
        letter-spacing: 1px;
        line-height: 35px;
        text-align: justify;
        font-size: 15px;
    } 
}


.tabs .hide .dynamics {
    margin: 8px 0 ;
    padding: 10px;
}
.tabs .hide .dynamics img {
    width: 180px;
    float: left;
}
.tabs .hide .dynamics .dybamicsTitle {
    margin-left: 20px;
    float: left;
}
.tabs .hide .dynamics .dybamicsTitle a {
    color: #000;
    font-size: 14px;
}
.tabs .hide .dynamics .dybamicsTitle p {
    font-size: 12px;
    color: #424242;
}


.rowpc .tabs::before, .rowpc .tabs::after {
    counter-reset: "";
    display: table;
}
.rowpc .tabs::after {
    clear: both;
}
div .active{
    display:block !important;
}

/* css for phone */

.rowphone .content div h4 {
    text-align: center;
    font-weight: bold;
}
.rowphone .content div p {
    text-align: justify;
    line-height: 2em;
    text-indent: 1.2em;
}



/* 响应式 */
/* @media(min-width:400px){
    .rowpc {
        display: none;
    }
    .rowphone {
        display: block;
    }
}
@media(min-width:768px){
    .rowpc {
        display: none;
    }
    .rowphone {
        display: block;
    }
}
@media(min-width:992px){
    .rowpc {
        display: block;
    }
    .rowphone {
        display: none;
    }
}
@media(min-width:1200px){
    .rowpc {
        display: block;
    }
    .rowphone {
        display: none;
    }
} */